.container {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  text-align: center;
  background-size: cover;
  background-color: #a8dab580;
}

.input {
  justify-content: left;
}

.poke-table{
  width: 100%;
  height: 100%;
  overflow: auto;
}


